<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Set URL -->
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/cinema_ticket_megarama?createDatabaseIfNotExist=true</property>

        <!-- Set User Name -->
        <property name = "hibernate.connection.username">root</property>

        <!-- Set Password -->
        <property name = "hibernate.connection.password">1234</property>

        <!-- Set Driver Name -->
        <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name = "hibernate.show_sql">true</property>

        <property name = "hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.movieticket.model.Movie"/>
        <mapping class="com.movieticket.model.User"/>
        <mapping class="com.movieticket.model.Reservation"/>
        <mapping class="com.movieticket.model.AvailableSeats"/>
        <mapping class="com.movieticket.model.ReactionMovie"/>
    </session-factory>
</hibernate-configuration>